#main_text {
  margin:auto;
  width: 900px;
}

#my_logo{
  font-size:45px;
  text-align:center;
  margin:auto;
  width: 550px;
}

#my_info{ 
  margin:auto;
  text-align:center;
}


.cic{
  display: inline-block;
  position: relative;
  top: 9px;
}


.pubs{
width:95%;
display: inline-block;
margin: 0 auto;
text-align:left;
}

.pubs_container{
width:100%;
display: inline-block;
border-style:solid;
background-color:beige;
border-width:1px;
text-align:center;
}

.left{
float:left;
width:150px;
}

.right{
float:right;
width:500px;
}



body { 
  /*background-color: beige;*/
  margin-left: 50px;
  /*margin-right: 100px;*/
}

p {
  font-size: 18px;
}

t {
  font-size: 20px;
}

mh {
  color: black;
  font-size: 30px;
  text-align: left;
}


